@charset 'UTF-8';

:root {
  // colors
  --color__primary: #005baa;
  --color__primary--contrast: #ffffff;
  --color__secondary: #001c36;
  --color__secondary--contrast: #ffffff;

  --color__bg: #ffffff;

  --color__text: #333333;
  --color__text--contrast: #ffffff;

  // spacing
  --padding: 20px;
}
